.headerStyle {
    text-align: center;
    color: #b8aeae;
    height: 64;
    padding-inline: 48;
    line-height: 64px;
    background-color: rgb(166, 173, 180);
  }
  
.contentStyle {
    text-align: center;
    min-height: 120;
    line-height: 120px;
    color: #fff;
    background-color: #1f3861;
  };
   
.footerStyle {
    text-align: center;
    color: #b82121;
    background-color: #4096ff;
  };
  
.layoutStyle {
    border-radius: 8;
    overflow: hidden;
    top: calc(50% - 8px);
    width: calc(50% - 8px);
    max-width: calc(50% - 8px);
  };